
.survey-content {
    
}

.survey-error {
    border-color: red !important;
}

.survey-success {
    border-color: green !important;
}

.survey-error-append {
    color: red !important;
}

.survey-h5 {
    margin-top: 0; 
    color: #555; 
    font-weight: normal;
}

.survey-centered {
    margin: auto;
    text-align: center;
}

.survey-index-table {
    border: 1px solid black;
}

.survey-index-table th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.survey-index-table td {
    border: 1px solid black;
    padding: 10px;
}

.survey-h3 {
    font-weight: normal;
    margin-top: 5px;
    font-size: 20px;
}

.survey-p {
    margin-top: -5px;
}

.survey-ul-no-bullet {
    list-style-type: none;
}

.survey-h1 {
    font-size: 25px;
}

.survey-spaced-bottom {
    margin-bottom: 10px;
}